<div class="mt-5">
    <table *ngIf="sites.length!=0" class="rounded-lg border border-separate border-tools-table-outline border-white bg-slate-600 w-full">
        <thead>
            <tr>
                <th class="max-w-16 p-3 text-center">Name</th>
                <th *ngIf="isOwner" class="lg:table-cell md:table-cell hidden p-3 text-center">Views</th>
                <th *ngIf="isOwner" class="lg:table-cell md:table-cell hidden p-3 text-center">Last viewed</th>
                <th class="p-3 text-center">Date added</th>
                <th *ngIf="isOwner" class="p-3 text-center">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let site of sites">
                <td class="max-w-16 p-3 text-left overflow-auto">
                    <a class="underline text-blue-200 hover:text-blue-100" [href]="'/list?id=' + list_id + '#'" (click)="viewSite(site._id, site.url)">
                        {{ site.tag }}
                    </a>
                </td>
                
                <td *ngIf="isOwner" class="lg:table-cell md:table-cell hidden p-3 text-center">{{ site.views }}</td>
                <td *ngIf="isOwner" class="lg:table-cell md:table-cell hidden p-3 text-center">{{ convertToDuration(site.lastViewedOn) }}</td>

                <td class="p-3 text-center">{{ convertToDate(site.dateAdded) }}</td>
                <td *ngIf="isOwner" class="p-3 text-center">
                    <button (click)="removeFromList(site._id)" class="bg-slate-500 hover:bg-slate-400 hover:cursor-pointer text-white font-bold py-1 px-2 rounded">
                        - Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="sites.length===0" class="rounded-lg border border-white bg-slate-600 mt-5 lg:w-1/2 md:w-1/2 w-full">
        <p class="p-3 pt-5 text-center">This list is empty.</p>
        <p class="p-3 pb-5 text-center">You can add items by navigating to the Favorites page and clicking on "Add to list".</p>
    </div>
</div>

<!--Message box-->
<app-pop-up-message *ngIf="showMessage" [message]="message" [type]="messageType" [isPopUp]="true"></app-pop-up-message>