<div class="grid grid-cols-7">
  <nav class="col-span-1 h-screen bg-slate-800 text-white">
    <div class="flex flex-col">
      <a class="px-4 py-4 font-bold" href="/">TheGateWeb</a>
      <a class="px-4 py-2 hover:bg-slate-600 mt-5" href="/recent">🕒 Recent</a>
      <a class="px-4 py-2 hover:bg-slate-600" href="/favorites">🤍 Favorites</a>
      <a class="px-4 py-2 hover:bg-slate-600" href="/most-viewed">📈 Most viewed</a>
      <a class="px-4 py-2 hover:bg-slate-600 mb-5" href="/my-lists">📃 My lists</a>
      <a class="px-4 py-2 hover:bg-slate-600" href="/users-favorites">🌐 Users' favorites</a>
      <a class="px-4 py-2 hover:bg-slate-600 mb-5" href="/users-most-viewed">🌐 Users' most viewed</a>
      <a class="px-4 py-2 hover:bg-slate-600" href="/login">🔐 Login</a>
      <a class="px-4 py-2 hover:bg-slate-600 mb-5" href="/register">🔐 Register</a>
      <a class="px-4 py-2 hover:bg-slate-600" href="/settings">⚙️ Settings</a>
    </div>
  </nav>

  <main class="col-span-6 h-screen bg-slate-700 text-white p-4">
    <router-outlet />
  </main>
</div>