<div class="m-0 px-10 pt-5">
    <h1 class="text-2xl pb-10">TheGateWeb's most viewed sites</h1>

    <p *ngIf="totalPages > 1" class="mb-5">
        <span>Page</span>
        <a *ngFor="let pageNumber of pages" (click)="choosePage(pageNumber)" class="mt-3 ps-3 hover:cursor-pointer">
            <span *ngIf="pageNumber === selectedPage" class="font-bold rounded bg-slate-400 p-1">{{ pageNumber+1 }}</span>
            <span *ngIf="pageNumber != selectedPage" class="rounded hover:bg-slate-500 p-1">{{ pageNumber+1 }}</span>
        </a>
    </p>

    <app-global-table [type]="'mostViewed'" [columnNames]="['Title', 'URL', 'Total views']" [mostViewedSites]="displayed"></app-global-table>
</div>