<div class="mt-5">
    <table *ngIf="sites.length!=0" class="rounded-lg border border-separate border-tools-table-outline border-white bg-slate-600">
        <thead>
            <tr>
                <th class="p-3 text-center" *ngFor="let columnName of columnNames">{{ columnName }}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let site of sites">
                <td class="p-3 text-left">
                    <a class="underline text-blue-200 hover:text-blue-100" [href]="'/favorites#'" (click)="viewSite(site._id, site.url)">
                        {{ site.tag }}
                    </a>
                </td>
                
                <td class="p-3 text-center">{{ site.views }}</td>
                <td class="p-3 text-center">{{ convertToDuration(site.lastViewedOn) }}</td>
                <td class="p-3 text-center">{{ convertToDate(site.dateAdded) }}</td>

                <td class="p-3 text-center">
                    <div class="grid lg:grid-cols-3 lg:grid-rows-1 md:grid-cols-1 md:grid-rows-3 gap-2">
                        <button class="bg-slate-500 hover:bg-slate-400 hover:cursor-pointer text-white font-bold py-1 px-2 rounded" (click)="openListMenu(site._id, site.tag)">
                            + Add to list
                        </button>
    
                        <button class="bg-slate-500 hover:bg-slate-400 hover:cursor-pointer text-white font-bold py-1 px-2 rounded lg:ms-3" (click)="openTagMenu(site._id, site.tag)">
                            Edit tag
                        </button>
    
                        <button class="bg-slate-500 hover:bg-slate-400 hover:cursor-pointer text-white font-bold py-1 px-2 rounded lg:ms-3" (click)="openRemoveMenu(site._id, site.tag)">
                            - Remove
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="sites.length===0" class="rounded-lg border border-white bg-slate-600 mt-5 lg:w-1/2 md:w-1/2">
        <p class="p-3 pt-5 text-center">This table is empty.</p>
        <p class="p-3 pb-5 text-center">You can add sites by clicking on "Add site".</p>
    </div>
</div>

<!--List menu-->
<div *ngIf="showListMenu" class="fixed top-1/8 right-1/4 w-1/2 rounded border border-lg bg-slate-600 p-5">
    <h1 class="text-xl pb-5">Add site <span class="italic">{{ favorite_tag }}</span> to a list</h1>

    <div class="rounded border bg-slate-500 p-3">
        <div *ngFor="let list of myLists" class="ps-5 pb-3">
            <a class="hover:font-bold hover:cursor-pointer" (click)="addToList(list._id)">
                > {{ list.name }}
            </a>
        </div>
    </div>

    <button class="bg-slate-500 rounded border hover:bg-slate-400 hover:cursor-pointer text-white font-bold py-1 px-2 mt-5" (click)="closeMenu()">
        Cancel
    </button>
</div>

<!--Tag menu-->
<div *ngIf="showTagMenu" class="fixed top-1/8 right-1/4 w-1/2 rounded border border-lg bg-slate-600 p-5">
    <h1 class="text-xl pb-5">Edit site tag</h1>

    <form [formGroup]="editTagForm" (submit)="editTag(favorite_id)" class="flex flex-col">
        <input class="rounded border mt-5 p-2 w-full focus:outline-none" type="text" name="new_tag" formControlName="new_tag" [placeholder]="favorite_tag">

        <div class="flex flex-row mt-5">
            <button type="button" (click)="closeMenu()" class="bg-slate-500 rounded border hover:bg-slate-400 hover:cursor-pointer text-white font-bold py-1 px-2 mt-5">
                Cancel
            </button>

            <button type="submit" class="bg-slate-500 rounded border hover:bg-slate-400 hover:cursor-pointer text-white font-bold py-1 px-2 mt-5 ms-5">
                OK
            </button>
        </div>
    </form>
</div>

<!--Remove menu-->
<div *ngIf="showRemoveMenu" class="fixed top-1/8 right-1/4 w-1/2 rounded border border-lg bg-slate-600 p-5">
    <h1 class="text-xl pb-5">Are you sure you want to remove site <span class="italic">{{ favorite_tag }}</span>?</h1>

    <div class="flex flex-row mt-5">
        <button (click)="closeMenu()" class="bg-slate-500 rounded border hover:bg-slate-400 hover:cursor-pointer text-white font-bold py-1 px-2">
            Cancel
        </button>

        <button (click)="remove(favorite_id)" class="bg-slate-500 rounded border hover:bg-slate-400 hover:cursor-pointer text-white font-bold py-1 px-2 ms-5">
            OK
        </button>
    </div>
</div>