<div class="pb-10">
    <h1 class="text-2xl pb-10">{{ name }}</h1>

    <table class="rounded-lg border border-separate border-tools-table-outline border-white bg-slate-600">
        <thead>
            <tr>
                <th class="p-3 text-center" *ngFor="let columnName of columnNames">{{ columnName }}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let data of dataSet">
                <td class="p-3 text-left"><a class="underline" [href]="data.url">{{ data.tag }}</a></td>
                <td class="p-3 text-center">{{ data.views }}</td>
                <td class="p-3 text-center">{{ data.lastViewedOn }}</td>
                <td class="p-3 text-right">{{ data.dateAdded }}</td>
            </tr>
        </tbody>
    </table>
</div>