<div class="pb-10">
    <h1 class="text-2xl pb-10">{{ name }}</h1>

    <table class="rounded-lg border border-separate border-tools-table-outline border-white bg-slate-600">
        <thead>
            <tr>
                <th class="p-3" *ngFor="let columnName of columnNames">{{ columnName }}</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="p-3" *ngFor="let data of dataSet">{{ data }}</td>
            </tr>
            <tr>
                <td class="p-3" *ngFor="let data of dataSet">{{ data }}</td>
            </tr>
            <tr>
                <td class="p-3" *ngFor="let data of dataSet">{{ data }}</td>
            </tr>
        </tbody>
    </table>
</div>